[user]
	name = Anton Yanchenko
	email = simplylizz@gmail.com
[pager]
	branch = true
[core]
	excludesfile = ~/.gitignore_global
[color]
	ui = true
[credential]
	helper = osxkeychain
[pull]
	ff = only
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = https://github.com/
